{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <div class="mx-auto mt-5" style="max-width: 400px;">
        <h1>Регистрация</h1>
        {{ form(form) }}
    </div>
{% endblock %}
