<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

    <ul class="nav col-12 col-md-auto mb-2 justify-content-start mb-md-0">
        <li><a href="{{ path('app_index') }}" class="nav-link px-2 link-secondary">Главная</a></li>
        <li><a href="{{ path('app_feedback') }}" class="nav-link px-2 link-secondary">Обратная связь</a></li>
        {#        <li><a href="#" class="nav-link px-2">Features</a></li> #}
        {#        <li><a href="#" class="nav-link px-2">Pricing</a></li> #}
        {#        <li><a href="#" class="nav-link px-2">FAQs</a></li> #}
        {#        <li><a href="#" class="nav-link px-2">About</a></li> #}
    </ul>

    <div class="col-md-3 text-end">
        <a href="{{ path('app_login') }}" class="btn btn-outline-primary me-2">Login</a>
        <a href="{{ path('app_registration') }}" class="btn btn-primary">Sign-up</a>
    </div>
</header>
